<!DOCTYPE html>
<html>
<head th:replace="fragments/head :: head"></head>
<body>
	<!-- Header include -->
	<div th:replace="fragments/header :: header"></div>
	<section>
		<h1> Wettübersicht</h1>
		<hr/>
		<br/>
		<br/>
		<div align="center">
		<table>
			<tr>
				<td><h2>Lottoübersicht</h2>
					<div align="left">
					<br/>
					<p th:text="@{'Lottogesamteinnahmen : '+${totalInput}+' €'}"></p>
					<p th:text="@{'Lottogesamtausgaben : '+${totalLoss}+' €'}"></p>
					<br/>
					<br/>
					<label th:text="@{'Nächste Ziehung ist am '+${nextLottoDate}}">Nächste Ziehung</label>
					<br/>
					<br/>
					<label th:text="@{'Gesamtvolumen der Tipps : '+${nextLottoInput}+' €'}">Input</label>
					<br/>
					<br/>
					<br/>
					<a th:href="lottoOverview.html">Liste aller anstehenden Ziehungen</a>
					<br/>
					<br/>
					<a th:href="finishedLottoMatches.html">Liste aller vergangenen Ziehungen</a>
					</div>
				</td>
				<td><h2>Totoübersicht</h2>
					<br/>
					<p th:text="@{'Totogesamteinnahmen : '+${totoTotalInput}+' €'}"></p>
					<p th:text="@{'Totogesamtausgaben : '+${totoTotalLoss}+' €'}"></p>
					<br/>
					<br/>
					<label th:text="@{'1.Bundesliga - '+${liga1nextMatchDay.firstKey()}+'.Spieltag'}"></label>
					<br/>
					<br/>
					<label th:text="@{'Gesamttippvolumen : '+${liga1nextMatchDay.get(liga1nextMatchDay.firstKey())}+' €'}">Spieltag</label>
					<br/>
					<br/>
					<label th:text="@{'2.Bundesliga - '+${liga2nextMatchDay.firstKey()}+'.Spieltag'}"></label>
					<br/>
					<br/>
					<label th:text="@{'Gesamttippvolumen : '+${liga2nextMatchDay.get(liga2nextMatchDay.firstKey())}+' €'}">Spieltag</label>
					<br/>
					<br/>
					<a th:text="@{'Alle Spiele der 1.Bundesliga ('+${liga1TotalInput}+' €)'}" th:href="@{/totoOverview(gameType='BUNDESLIGA1')}">1.Bundesliga</a>
					<br/>
					<br/>
					<a th:text="@{'Alle Spiele der 2.Bundesliga ('+${liga2TotalInput}+' €)'}" th:href="@{/totoOverview(gameType='BUNDESLIGA2')}">2.Bundesliga</a>
					<br/>
					<br/>
					<a th:href="@{/totoMatchOverview(matchDay='3',liga='POKAL')}" th:text="@{'Alle Spiele des DFB Pokal Achtelfinales ('+${pokalTotalInput}+' €)'}">DFB Pokal - Achtelfinale</a>
				</td>
			</tr>
		</table>
		</div>
		
		<br/>
		<br/>
		<br/>
	</section>
	<!-- Footer include -->
	<div th:replace="fragments/footer :: footer"></div>
</body>	
</html>