<!DOCTYPE html>
<html>
<head th:replace="fragments/head :: head"></head>
<body>
	<!-- Header include -->
	<div th:replace="fragments/header :: header"></div>
	<section>
		<h1> Wettübersicht</h1>
		<hr/>
		<br/>
		<br/>
		<div align="center">
		<table>
			<tr>
				<td><p>Lottoübersicht</p>
					<br/>
					<p th:text="@{'Lottogesamteinnahmen : '+${totalInput}}"></p>
					<p th:text="@{'Lottogesamtausgaben : '+${totalLoss}}"></p>
					<br/>
					<p th:text="@{'Nächste Ziehung ist am '+${nextLottoDate}}">Nächste Ziehung</p>
					<br/>
					<p th:text="@{'Gesamtvolumen der Tipps : '+${nextLottoInput}+' Euro'}">Input</p>
					<br/>
					<br/>
					<br/>
					<a th:href="lottoOverview.html"><label>Liste aller Ziehungen</label></a>
					<br/>
					<a th:href="finishedLottoMatches.html"><label>Liste aller vergangenen Ziehungen</label></a>
				</td>
				<td><p>Totoübersicht</p>
					<br/>
					<p><a th:text="@{'1.Bundesliga - Gesamtvolumen : '+${liga1TotalInput}}" th:href="@{/totoOverview(gameType='BUNDESLIGA1')}">1.Bundesliga</a></p>
					<br/>
					<p th:text="@{${liga1nextMatchDay.firstKey()}+'.Spieltag - Gesamtvolumen : '+${liga1nextMatchDay.get(liga1nextMatchDay.firstKey())}}">Spieltag</p>
					<br/>
					<p><a th:text="@{'2.Bundesliga - Gesamtvolumen : '+${liga2TotalInput}}" th:href="@{/totoOverview(gameType='BUNDESLIGA2')}">2.Bundesliga</a></p>
					<br/>
					<p th:text="@{${liga2nextMatchDay.firstKey()}+'.Spieltag - Gesamtvolumen : '+${liga2nextMatchDay.get(liga2nextMatchDay.firstKey())}}">Spieltag</p>
					<br/>
					<p><a th:href="@{/totoMatchOverview(matchDay='3',liga='POKAL')}" th:text="@{'DFB Pokal Achtelfinale - Gesamtvolumen : '+${pokalTotalInput}}">DFB Pokal - Achtelfinale</a></p>
				</td>
			</tr>
		</table>
		</div>
		
		<br/>
		<br/>
		<br/>
	</section>
	<!-- Footer include -->
	<div th:replace="fragments/footer :: footer"></div>
</body>	
</html>