<!DOCTYPE html>
<html>
<head th:replace="fragments/head :: head"></head>
<body>
	<!-- Header include -->
	<div th:replace="fragments/header :: header"></div>
	<section>
		<h1> Wettübersicht</h1>
			<hr/>
			<br/>
			<br/>
			<div align="center">
			<div align="center"  id="divListMessages">
			<ol start="1" id="listMessages">
 				<div th:each="lottoGame : ${finishedLottoMatches}">
				<br/>
				<label th:text="@{'Ziehung vom '+${lottoGame.getKey().getDateString()}}">Match</label>
				<br/>
				<label th:text="@{'Einnahmen : '+${lottoGame.getValue()}+' €'}"></label>
				<label th:text="@{((${lottoGame.getKey().getTotalWinningPot()}==null) ? 'Ausgaben : noch nicht gezogen' : 'Ausgaben : '+${moneyFormat.format(lottoGame.getKey().getTotalWinningPot()-lottoGame.getKey().getRemainingPot())}+' €')}"></label>
				<br/>
				<br/>	
				</div>
			</ol>
			</div>
			</div>
			
			<br/>
		<br/>
		<br/>
	</section>
	<!-- Footer include -->
	<div th:replace="fragments/footer :: footer"></div>
</body>	
</html>