<!DOCTYPE html>
<html>
<head th:replace="fragments/head :: head"></head>
<body>
	<!-- Header include -->
	<div th:replace="fragments/header :: header"></div>
	<section>
		<h1>Geldflussübersicht</h1>
		<hr/>
		<br/>
		<br/>
		<canvas width="400" height="200" id="diagramm"></canvas>
		<p id="zufluesse" th:text="${zufluesse}" class="hidden"></p>
		<p id="ausgaben" th:text="${ausgaben}" class="hidden"></p>
		<script>		    
		     /*alert(document.getElementById("zufluesse").innerHTML);*/
		     var int1 = parseInt(document.getElementById("zufluesse").innerHTML);
		     var int2 = parseInt(document.getElementById("ausgaben").innerHTML);
  			 kreisdiagramm = new RGraph.Pie("diagramm", [int1, int2]);
			 kreisdiagramm.Set("chart.labels", ["Einnahmen", "Ausgaben"]);
			 kreisdiagramm.Set("chart.colors", ["blue", "red"]);
			 kreisdiagramm.Set("chart.colors.sequential", true);
			 kreisdiagramm.Draw();
		</script>
		<div align="center">
		<div align="center"  id="divListMessages">
		<ol start="1" id="listMessages">
			<div>
			<br/>
			<label  th:text="@{'Zuflüsse: '+${zufluesse}}">Von</label>
			<br/>
			<label  th:text="@{'Ausgabe: '+${ausgaben}}">Von</label>
			<br/>
			<br/>				
			</div>
		</ol>
		</div>
		</div>
		
		<br/>
		<br/>
		<br/>
	</section>
	<!-- Footer include -->
	<div th:replace="fragments/footer :: footer"></div>
</body>	
</html>