<!DOCTYPE html>
<html>
<head th:replace="fragments/head :: head"></head>
<body>
	<!-- Header include -->
	<div th:replace="fragments/header :: header"></div>
	<section>


		<h1> Wettübersicht</h1>
			<hr/>
			<br/>
			<br/>
			<div align="center">
			<div align="center"  id="divListMessages">
			<ol start="1" id="listMessages">
 				<div th:each="match : ${totoMatches}">
 				<br/>
 				<table>
 					<tr>
 						<td>
 						</td>
 						<td>
 							<p th:text="@{${match.getTeamHome()}+' - '+${match.getTeamGuest()}}">FC Beispiel - KeinPlan SC</p>
 						</td>
 						<td>
 						</td> 						
 					</tr>
  					<tr>
 						<td>
 						<p th:text="@{'Heimsieg : '+${match.getResultInput().get(WIN_HOME)}}"></p>
 						</td>
 						<td>
 						<p th:text="@{'Auswärtssieg : '+${match.getResultInput().get(WIN_GUEST)}}"></p>
 						</td>
 						<td>
 						<p th:text="@{'Unentschieden : '+${match.getResultInput().get(DRAW)}}"></p>
 						</td> 					
 					</tr>
 				</table>
				<br/>
				</div>
			</ol>
			</div>
			</div>
	</section>
	<!-- Footer include -->
	<div th:replace="fragments/footer :: footer"></div>
</body>
</html>