<!DOCTYPE html>
<html>
<head th:replace="fragments/head :: head"></head>
<body>
	<!-- Header include -->
	<div th:replace="fragments/header :: header"></div>
	<section>
		<h1 th:text="@{${totoGameTypeString}}"></h1>
			<hr/>
			<br/>
			<br/>
			<div align="center">
			<div align="center"  id="divListMessages">
			<ol start="1" id="listMessages">
 				<div th:each="matchDay : ${matchDayInput}">
 					<br/>
					<label><a th:href="@{/totoMatchOverview(matchDay=${matchDay.getKey()},liga=${totoGameType})}" th:text="@{${matchDay.getKey()}+'.Spieltag - Gesamttippvolumen : '+${matchDay.getValue()}+' €'}">1.Bundesliga</a></label>
					<br/>
					<br/>
				</div>
			</ol>
			</div>
			</div>			
			<br/>
		<br/>
		<br/>
	</section>
	<!-- Footer include -->
	<div th:replace="fragments/footer :: footer"></div>
</body>	
</html>