<!DOCTYPE html>
<html>
<head th:replace="fragments/head :: head"></head>
<body>
	<!-- Header include -->
	<div th:replace="fragments/header :: header"></div>
	<section>


		<h1 th:text="@{${totoGameType}+' - '+${totoMatchDay}+'.Spieltag'}"></h1>
			<hr/>
			<br/>
			<br/>
			<div align="center">
			<div align="center"  id="divListMessages">
			<ol start="1" id="listMessages">
 				<div th:each="match : ${totoMatches}">
 				<br/>

 					<label th:text="@{${match.getTeamHome()}+' - '+${match.getTeamGuest()}}">FC Beispiel - KeinPlan SC</label>
 					<br/>
 					<label th:text="@{'Heimsieg : '+${match.getResultInput().get(WIN_HOME)}}"></label>

 					<label th:text="@{'Auswärtssieg : '+${match.getResultInput().get(WIN_GUEST)}}"></label>

 					<label th:text="@{'Unentschieden : '+${match.getResultInput().get(DRAW)}}"></label>
 					<br/>
 					<br/>
				</div>
			</ol>
			</div>
			</div>
			
			<br/>
		<br/>
		<br/>
	</section>
	<!-- Footer include -->
	<div th:replace="fragments/footer :: footer"></div>
</body>
</html>