<!DOCTYPE html>
<html>
<head th:replace="fragments/head :: head"></head>
<body>


	<!-- Header include -->
	<div th:replace="fragments/header :: header"></div>
	<section>
		<h1>Liste der Transaktionen</h1>
		<hr/>
		<br/>
		<br/>
		<p>Für mehr bzw. weniger Details den jeweiligen Eintrag anklicken!</p>
		

		<br/>
		<br/>
		<br/>
		<div align="center">
		<div align="center"  id="divListMessages">
		<ol start="1" id="listMessages">	
			<div id="ListItem" class="Item" th:each="transactionItem : ${transactions}" >
			<br/>			
			<label  id="Geldbetrag" th:text="@{'Geldbetrag: '+${transactionItem.getAmount()}}+' €'">Von</label><br/>
			<label  id="nach" th:text="@{'Nach: '+${transactionItem.getNameTo()}}">Von</label>
			<label  id="von" th:text="@{'Von: '+${transactionItem.getNameFrom()}}">Von</label>
			<label  th:text="@{'Datum: '+${transactionItem.getDateString()}}">Von</label>
			<label  >Grund?!?!</label>
			<br/>
			<br/>				
			</div>
		</ol>
		</div>
		</div>
		
		<br/>
		<br/>
		<br/>
	</section>
	<!-- Footer include -->
	<div th:replace="fragments/footer :: footer"></div>
</body>	
</html>
