<!DOCTYPE html>
<html>
<head th:replace="fragments/head :: head"></head>
<body>
	<!-- Header include -->
	<div th:replace="fragments/header :: header"></div>
	<section>
		<h1>Lotto Ziehung</h1>
		<hr />
		<br /> <br />
		<p>Hier können die Lottozahlen eingetragen werden. Alle Daten müssen unter notarieller Aufsicht eingetragen werden.
		</p>
			
		<br/>

		<form th:action="@{/setLottoNumbers}" method="post">
			<p>Die Lottozahlen werden immer für das nächste Lottospiel
				gesetzt. Wenn man also 2mal hintereinander einträgt , so trägt man
				für die beiden kommenden Sonntage ein.</p>

			<br/>
			<p>Für die Ziehung am <b th:text="${date}">Datum</b></p>
			<br/>

			<div align="center">
				<input type="text" name="number1" th:value="${n1}" placeholder="1" /><br />
			</div>
			<div align="center">
				<input type="text" name="number2" th:value="${n2}" placeholder="2" /><br />
			</div>
			<div align="center">
				<input type="text" name="number3" th:value="${n3}" placeholder="3" /><br />
			</div>
			<div align="center">
				<input type="text" name="number4" th:value="${n4}" placeholder="4" /><br />
			</div>
			<div align="center">
				<input type="text" name="number5" th:value="${n5}" placeholder="5" /><br />
			</div>
			<div align="center">
				<input type="text" name="number6" th:value="${n6}" placeholder="6" /><br />
			</div>
			<div align="center">
				<input type="text" name="super" th:value="${super}"
					placeholder="sup" /><br />
			</div>
			<div align="center">
				<input type="submit" value="Lottozahlen setzen" />
			</div>

		</form>

	</section>
	<!-- Footer include -->
	<div th:replace="fragments/footer :: footer"></div>
</body>
</html>