<!DOCTYPE html>
<html>
<head th:replace="fragments/head :: head"></head>
<body>
	<!-- Header include -->
	<div th:replace="fragments/header :: header"></div>
	<section>
		<h1>Zeitmanagement</h1>
		<hr/>
		<br/>
		<br/>
		<p>Ändere die Zeit in Minuten. Zurückspulen mit negativen Werten!</p>
		
		<form th:action="@{/vorspulen}" method="post">
		<div align="center"><input type="value" name="time" placeholder="Minuten"/><br/></div>
		<div align="center"><input type="submit" value="Spulen!"/></div>
		</form>
		

		<form th:action="@{/vorspulen}" method="post">
		<div align="center"><input type="hidden" name="time" value="1440" /></div>
		<div align="center"><input type="submit" value="1 Tag vorspulen!"/></div></form>

		<form th:action="@{/vorspulen}" method="post">
		<div align="center"><input type="hidden" name="time" value="10080" /></div>
		<div align="center"><input type="submit" value="1 Woche vorspulen!"/></div></form>

		<form th:action="@{/vorspulen}" method="post">
		<div align="center"><input type="hidden" name="time" value="-1440" /></div>
		<div align="center"><input type="submit" value="1 Tag zurückspulen!"/></div></form>

		<form th:action="@{/vorspulen}" method="post">
		<div align="center"><input type="hidden" name="time" value="-10080" /></div>
		<div align="center"><input type="submit" value="1 Woche zurückspulen!"/></div></form>

		<!-- TODO momentaner Zeitversatz, reale Zeit <-> interne Zeit -->

		
				
		<br/>
		<br/>
		<br/>
	</section>
	<!-- Footer include -->
	<div th:replace="fragments/footer :: footer"></div>
</body>	
</html>