<header>
         <nav>
              <ul id="navigation"><!--Liste der Navigationselemente-->
                   <!--Alle Navigationselemente die links ausgerichtet sind:-->
                   <li class="lileft" ><a href="index.html"><label class="menuentry"  >Mach dein Gl&uuml;ck!!!</label></a></li>
				   
				   <div sec:authorize="hasRole('ROLE_USER')"> <!-- nur für User sichtbar , ROLE USER -->
				   
                   <li class="lileft"><a href="gameoverview.html"><label class="menuentry" ><i class="fa fa-th-large"></i> Spiel</label><a>
				         <span>
								<ul id="navi_menu">
									<li class="span_open">
										<div id="navi_button">
											<a href="lotto.html"><label><i class="fa fa-pencil"></i> Lotto</label></a>
										</div>
									</li>
								</ul>								
								
								<ul id="navi_menu">
									<li class="span_open">
										<div id="navi_button">
											<a href="toto.html"><label><i class="fa fa-futbol-o"></i> Toto</label></a>
										</div>
									</li>
								</ul>
                         </span>
				   </li>
				   
                   <li class="lileft" ><a href="groupoverview.html"><label class="menuentry"><i class="fa fa-list"></i> Gruppen</label></a>
						 <span>
								<ul id="navi_menu">
									<li class="span_open">
										<div id="navi_button">
											<a href="groupcreate.html"><label>Gruppe erstellen</label></a>
										</div>
									</li>
								</ul>								
								
								<ul id="navi_menu">
									<li class="span_open">
										<div id="navi_button">
											<a href="groupjoin.html"><label>Gruppen beitreten</label></a>
										</div>
									</li>
								</ul>								
								<ul id="navi_menu">
									<li class="span_open">
										<div id="navi_button">
											<a href="groupmanage.html"><label>Gruppen verwalten</label></a>
										</div>
									</li>
								</ul>
                         </span>
				   </li>
                   <li class="liright"><a href="profil.html"><label class="menuentry"><i class="fa fa-user"></i> Lars Beck</label></a>
                         <span>
								<ul id="navi_menu">
									<li class="span_open">
										<div id="navi_button">
											<a href="bankaccount.html"><label><i class="fa fa-credit-card"></i> Konto</label></a>
										</div>
									</li>
								</ul>								
								
								<ul id="navi_menu">
									<li class="span_open">
										<div id="navi_button">
											<a href="profil.html"><label><i class="fa fa-user"></i> Profil</label></a>
										</div>
									</li>
								</ul>								
								<ul id="navi_menu">
									<li class="span_open">
										<div id="navi_button">
											<a href="logout.html"><label>Ausloggen <i class="fa fa-sign-out"></i></label></a>
										</div>
									</li>
								</ul>
                         </span>
                   </li>

				   <li class="liright"><a href="bankaccount.html"><label class="menuentry_money">2022,14 <i class="fa fa-eur"></i></label></li></a>
				   
				   </div> <!-- ROLE USER ende -->
				   
				   <li class="liright"><a href="registration.html"><<label class="menuentry"><i class="fa fa-user"></i> Registrieren</label></a></li>
					<form>
						<li class="lilogin"><label class="menuentry_login"><input class="loginButton" type="submit" value="Login" tabindex="3" /></label></li>
						<li class="lilogin"><label class="menuentry_login"><input type="password" placeholder="Passwort" class="loginInput" tabindex="2" /></label> 
						<li class="lilogin"><label class="menuentry_login"><input type="text" placeholder="Benutzername" class="loginInput" tabindex="1"/></label> 
					</form>
              </ul>
         </nav>
    </header>