<!DOCTYPE html>
<html>
<head th:replace="fragments/head :: head"></head>
<body>
	<!-- Header include -->
	<div th:replace="fragments/header :: header"></div>
	<section>
		<h1> Gruppe verwalten</h1>
		
		<!-- usertable -->
			<hr/>
			<br/>
			<br/>
			<div align="center">
			<div align="center"  id="divListMessages">
        <ol start="1" id="listMessages">
 				<div th:each="Community : ${groupmanage}">
				<br/>
				<br/>
				<label  th:text="@{${Community.getName()}}">Member</label>
				<br/>
				<br/>	
				</div>
        </ol>
			</div>
			</div>
			<!-- kick User -->
			
		<div align="center">
		<div align="center"  id="divListMessages">
		<ol start="1" id="listMessages">
			<div th:each="item : ${tips}">
			<a th:href="@{/tipCollection(id=${item.getId()}, game=${item.getGameType().name()})}" >
			<br/>
		    <br/>
			<label th:text="@{'Tippschein ('+${item.getTips().size()}+' Tipp(s) )'}">Test</label>
		    <br/>
		    <br/>
		    </a>
			</div>
		</ol>
		</div>
		</div>

		<br/>
		<br/>
		<br/>
	</section>
	<!-- Footer include -->
	<div th:replace="fragments/footer :: footer"></div>
</body>	
</html>
