<!DOCTYPE html>
<html>
<head th:replace="fragments/head :: head"></head>
<body>
	<!-- Header include -->
	<div th:replace="fragments/header :: header"></div>
	<section>
		<h1> Gruppenübersicht</h1>
			<hr/>
			<br/>
			<br/>
			<div align="center">
			<div align="center"  id="divListMessages">
			<ol start="1" id="listMessages">
 				<div th:each="Community : ${groupoverview}">
			    <a th:href="@{/groupmanage(id=${Community.getId()})}" >
				<br/>
				<br/>
				<label>Gruppenname:</label><label  th:text="@{${Community.getCommunityName()}}">Group</label> <br/>
				<label>Passwort:</label><label  th:text="@{${Community.getPasswordHtml()}}">Password</label>
				<br/>
				<br/>
				</a>	
				<form th:if="${Community.isNoAdmin()}" action="groupleave">
				<input type="hidden" name="id" th:value="${Community.getId()}" />
				<input type="submit" value="Austreten" />
				</form>
				<form th:if="${Community.isAdmin()}" action="groupdelete">
				<input type="hidden" name="id" th:value="${Community.getId()}" />
				<input type="submit" value="Auflösen" />
				</form>
				
				</div>
			</ol>
			</div>
			</div>
					
		<!-- insert button here -->
		<br/>
		<br/>
		<br/>
	</section>
	<!-- Footer include -->
	<div th:replace="fragments/footer :: footer"></div>
</body>	
</html>
