<header>
         <nav>
              <ul id="navigation"><!--Liste der Navigationselemente-->
                   <!--Alle Navigationselemente die links ausgerichtet sind:-->
                   <li class="lileft" ><a th:href="index.html"><label class="menuentry"  >Mach dein Gl&uuml;ck!!!</label></a></li>
                   
			   
                   <li sec:authorize="hasRole('ROLE_USER')" class="lileft"><a th:href="gameoverview.html"><label class="menuentry" ><i class="fa fa-th-large"></i> Spiel</label></a>
				         <span>
								<ul id="navi_menu">
									<li class="span_open">
										<div id="navi_button">
											<a th:href="lotto"><label><i class="fa fa-pencil"></i> Lotto</label></a>
										</div>
									</li>
								</ul>								
								
								<ul id="navi_menu">
									<li class="span_open">
										<div id="navi_button">
											<a th:href="toto.html"><label><i class="fa fa-futbol-o"></i> Toto</label></a>
										</div>
									</li>
								</ul>
                         </span>
				   </li>
				   <li sec:authorize="hasRole('ROLE_BOSS')" class="lileft" ><a th:href="groupoverview.html"><label class="menuentry"><i class="fa fa-list"></i> Gruppen</label></a></li>
                   <li sec:authorize="hasRole('ROLE_USER')" class="lileft" ><a th:href="groupoverview.html"><label class="menuentry"><i class="fa fa-list"></i> Gruppen</label></a>
						 <span>
								<ul id="navi_menu">
									<li class="span_open">
										<div id="navi_button">
											<a th:href="groupcreate.html"><label>Gruppe erstellen</label></a>
										</div>
									</li>
								</ul>								
								
								<ul id="navi_menu">
									<li class="span_open">
										<div id="navi_button">
											<a th:href="groupjoin.html"><label>Gruppen beitreten</label></a>
										</div>
									</li>
								</ul>								
								<ul id="navi_menu">
									<li class="span_open">
										<div id="navi_button">
											<a th:href="groupmanage.html"><label>Gruppen verwalten</label></a>
										</div>
									</li>
								</ul>
                         </span>
				   </li>
                   <li sec:authorize="hasRole('ROLE_USER')||hasRole('ROLE_BOSS')" class="liright"><a th:href="profil.html"><label class="menuentry"><i class="fa fa-user"><label class="menuentry_inner" sec:authentication="name"></label></i></label></a>
                         <span>
								<ul id="navi_menu">
									<li class="span_open">
										<div id="navi_button">
											<a th:href="bankaccount.html"><label><i class="fa fa-credit-card"></i> Konto</label></a>
										</div>
									</li>
								</ul>								
								
								<ul id="navi_menu">
									<li class="span_open">
										<div id="navi_button">
											<a th:href="profil.html"><label><i class="fa fa-user"></i> Profil</label></a>
										</div>
									</li>
								</ul>	
								
								<ul id="navi_menu" sec:authorize="hasRole('ROLE_BOSS')">
									<li class="span_open">
										<div id="navi_button">
											<a th:href="@{'/time'}"><label><i class="fa fa-clock-o"></i> Zeit</label></a>
										</div>
									</li>
								</ul>	
														
								<ul id="navi_menu">
									<li class="span_open">
										<div id="navi_button">
											<a th:href="@{/logout}" ><label>Ausloggen <i class="fa fa-sign-out"></i></label></a>
										</div>
									</li>
								</ul>
                         </span>
                   </li>

				   
		
                   <li sec:authorize="hasRole('ROLE_BOSS')" class="liright"><a th:href="statisticsoverview.html"><label class="menuentry" ><i class="fa fa-line-chart"></i> Statistiken</label></a></li>
                  <li sec:authorize="hasRole('ROLE_BOSS')" class="liright"><a th:href="betsOverview.html"><label class="menuentry" ><i class="fa fa-line-chart"></i> Wettübersicht</label></a></li>
                  <li sec:authorize="hasRole('ROLE_USER')||hasRole('ROLE_BOSS')" class="liright" id="Geld"><a th:href="bankaccount.html"><label class="menuentry_money"><i class="fa fa-eur"><label class="menuentry_money_inner" th:text="${balance}"></label></i></label></a></li>
				   
				  
					   <!-- Login Fehler -->
				   		<div class="Fehler" th:if="${asdasfa}">
							<p class="h">Fehler</p>
							<p>Benutername oder Passwort stimmmen nicht &uuml;berein!</p>
							<p>Versuchen sie es erneut.</p>
						    <br/>
							<form>
							<input class="loginButton" type="button" value="ok" tabindex="3" onclick="location='index.html'" />
							</form>
							<br/>
							<p>Wenn du noch keine Account hast:<br/> <a href="/registration">Registrieren!</a></p>
						</div>
						 <!-- Tipp Fehler -->
						<div class="Fehler" th:if="${param.error}">
							<p class="h">Fehler</p>
							<p>Einer oder mehrer Tipps im Tippschein sind unvollständig!</p>
							<p>Bitte füllen sie alle benötigten Felder korrekt aus.</p>
						    <br/>
							<form>
							<input class="loginButton" type="button" value="ok" tabindex="3" onclick="location='index.html'" />
							</form>
							<br/>
							<p>Info: nicht jeder Tipp des Tippscheines muss ausgefüllt werden</p>
						</div>
						 <!-- Registrieren Fehler -->
						<div class="Fehler" th:if="${param.error}">
							<p class="h">Fehler</p>
							<p>Die Registrierung ist Fehlgeschlagen.</p>
							<p>Bitte füllen sie alle benötigten Felder korrekt aus.</p>
						    <br/>
							<form>
							<input class="loginButton" type="button" value="ok" tabindex="3" onclick="location='index.html'" />
							</form>
							<br/>
							<p>Info: Der Benutzername darf nicht verwendet sein!</p>
						</div>
                         <!-- Einzahlen/Auszahlen Fehler -->
						<div class="Fehler" th:if="${paymentError}">
							<p class="h">Fehler</p>
							<p>Das Ein-/Auszahlen war fehlerhaft.</p>
							<p>Das Format lautet: Euro.cc</p>
						    <br/>
							<form>
							<input class="loginButton" type="button" value="ok" tabindex="3" onclick="location='index.html'" />
							</form>
							<br/>
							<p>Info: Es dürfen nicht mehr als zwei Nachkommastellen angegeben werden.</p>
						</div>

				
				   <li sec:authorize="!isAuthenticated()" class="liright"><a th:href="registration.html"><label class="menuentry"><i class="fa fa-user"></i> Registrieren</label></a></li>
					
					<form sec:authorize="!isAuthenticated()" th:action="@{/login}" method="post">
						<li class="lilogin"><label class="menuentry_login"><input class="loginButton" type="submit" value="Login" tabindex="3" /></label></li>
						<li class="lilogin"><label class="menuentry_login"><input type="password" placeholder="Passwort" class="loginInput" name="password" tabindex="2" /></label></li> 
						<li class="lilogin"><label class="menuentry_login"><input type="text" placeholder="Benutzername" class="loginInput" name="username" tabindex="1"/></label></li>
					</form>
			
              </ul>
         </nav>
    </header>
