<head>
<title>Lotterie Mach dein Gl&uuml;ck!!!</title>
<meta name="description" content="Swt Team 18 Lotterie" />
<meta name="author" content=".Lars Beck, Reinhard *,Felix *, Joe *, Johannes *" />
<meta name="keywords" content="." />

<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href='css/html5reset-1.6.1.css' rel='stylesheet' type='text/css'/>
<link href='css/animations.css' rel='stylesheet' type='text/css'/>
<link href='css/website.css' rel='stylesheet' type='text/css'/>
<link href='css/ModalDialog.css' rel='stylesheet' type='text/css'/>

<link href="css/header_dark_red.css" rel="stylesheet"/>
<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"/>
<link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'/>



<script type="text/javascript" language="JavaScript">
<!-- Begin

// Array Wochentag
Wochentag = new Array("Sonntag","Montag","Dienstag","Mittwoch","Donnerstag","Freitag","Samstag");


// Funktionen für Anzeigen Tag Datum + dynamische Uhrzeit

var SystemDatum;
var tag;
var monat;
var jahr;
var stunden;
var minuten;
var sekunden;

function CreateTime()
{
	var datum = document.getElementById("ZeitAnzeige").innerHTML;
	SystemDatum = new Date();
	if(datum[0] == "0"){tag = datum[1];}else{tag = datum[0]+datum[1];}
	SystemDatum.setDate(tag);
	if(datum[3] == "0"){monat = datum[4];}else{monat = datum[3]+datum[4];}
	var a = parseInt(monat);
	a-=1;
	SystemDatum.setMonth(a.toString());
	SystemDatum.setFullYear(datum[6]+datum[7]+datum[8]+datum[9]);
	if(datum[11] == "0"){stunden = datum[12];}else{stunden = datum[11]+datum[12];}
	SystemDatum.setHours(stunden);
	if(datum[14] == "0"){minuten = datum[15];}else{minuten = datum[14]+datum[15];}
	SystemDatum.setMinutes(minuten);
	if(datum[17] == "0"){sekunden = datum[18];}else{sekunden = datum[17]+datum[18];}
	SystemDatum.setSeconds(sekunden);
}

function DisplayTime()
{
 var CounterTag = SystemDatum.getDate();
 var CounterMonat = SystemDatum.getMonth()+1;
 var CounterJahr = SystemDatum.getFullYear();
 var CounterStd = SystemDatum.getHours();
 var CounterMin = SystemDatum.getMinutes();
 var CounterSek = SystemDatum.getSeconds();
 var TagDerWoche = SystemDatum.getDay();

 //  für zweistellige Anzeige
 var CounterTag2  = ((CounterTag < 10) ? "0" : "");
 var CounterMonat2  = ((CounterMonat < 10) ? ".0" : ".");
 var CounterStd2  = ((CounterStd < 10) ? "0" : "");
 var CounterMin2  = ((CounterMin < 10) ? ":0" : ":");
 var CounterSek2  = ((CounterSek < 10) ? ":0" : ":");

	SystemDatum.setSeconds( SystemDatum.getSeconds() +1);
 // Die 3 Fragmente für die Anzeige Wochentag Datum Zeit

 // aktuelles Datum
 var DatumJetzt = CounterTag2 + CounterTag + CounterMonat2 + CounterMonat  + "." + CounterJahr;

 // aktuelle Zeit
 var ZeitJetzt = CounterStd2 + CounterStd + CounterMin2 + CounterMin + CounterSek2 + CounterSek + " Uhr";

// Option hier eintragen 1,2,3 oder 4
DarstellungOption = 4

switch (DarstellungOption) {
  case 1:
    // Anzeige der Zeit
    var DispString = ZeitJetzt;
    break;
  case 2:
    // Anzeige Datum + Zeit
    var DispString = DatumJetzt + " &nbsp;" + ZeitJetzt;
    break;
  case 3:
    // Anzeige Wochentag + Zeit
    var DispString = Wochentag[TagDerWoche] + " &nbsp;" + ZeitJetzt;
    break;
  case 4:
    // Anzeige Wochentag + Datum + Zeit
    var DispString = Wochentag[TagDerWoche] + " " + DatumJetzt + " &nbsp;" + ZeitJetzt;
    break;
    }

document.getElementById("ZeitAnzeige").innerHTML = DispString;

setTimeout("DisplayTime()", 1000);
}

window.setTimeout('CreateTime()',0);
window.setTimeout('DisplayTime()',0);


// -->
</script>


<style type="text/css">
body {
   margin: 0 auto;
}
</style>
</head>

