html,body{margin:0;padding:0}
body{font: 85%/1.3 TrebuchetMS,Arial,sans-serif;
    text-align: left;background: #fff;padding-bottom:20px}
a { color: #0066B3; background: inherit; text-decoration: none;}
h1 { font: bold 2.1em Arial, Arial, Sans-Serif; color: #036DA7 }
h3 { font: bold 1.3em Arial, Arial, Sans-Serif; color: #036DA7 }
h2 { font: bold 1.1em Arial, Arial, Sans-Serif; padding: 0; margin: 0; }

div#header{width:100%;overflow:hidden;background-image:url(header.png) }
div#header h1,div#menu{width:770px;margin:0 auto;text-align:left}
div#header h1{padding: 30px 0 20px;color: #fff}
div#header h3,div#menu{width:770px;margin:0 auto;text-align:left}

ul#nav,ul#nav li{list-style-type:none;margin:0;padding-bottom:1px;padding:0}
ul#nav{float:right;font-size: 80%}
ul#nav li{float:left;margin-left: 6px;text-align: center}
ul#nav a{float:left;width: 95px;padding: 5px 0;text-decoration:none;color: #666; border-top : 1px solid #8e979e; border-left : 1px solid #8e979e; border-right : 1px solid #8e979e;}
ul#nav a:hover{background: #fff;color: #000}
ul#nav li.activelink a,ul#nav li.activelink a:hover{background: #FFF;color: #003}

.left {
	float: left;
	width: 76%;
	padding: 1em;
	margin-bottom: 1.2em;
	border-style:solid;
	border-color:#ccc;
	border-width:3px;
	background: #eee;
	text-align: justify;
}

#right {
	float: right;
	width: 20%;
	margin: 0 0 15px 0;
	
}

#right .box {
	padding: 1em;
	margin: 0 0 1em 0;
	background : #FFF6BF;
	border-style:solid;
	border-color:#E6DEB1;
	border-width:3px;
}


#content {
  font: 95%/1.3 TrebuchetMS,Arial,sans-serif;
	margin: 0 auto;
  padding: 15px;
	background: #fff;
}

#middle {
	float:center;
	width: 80%;
	margin:0 auto;
	background: #fef;
}

.centered {
	font-size:100%;
	text-align:center;
}


.panel {
  width: 80%;
  margin: 0 auto;
  padding: 10px 10px 10px 10px;
  background: #eee;
	border-style:solid;
	border-color:#ccc;
	border-width:3px;
}

.texttoright {
  padding-left: 50px;
}

.panel p {
  max-width: 600px;
  font-size: 14px;
}

.panel ul {
  max-width: 600px;
  font-size: 14px;
}

.arbeitszeiten  {
  width: 60%;
  margin: 0 auto;
}

.grouptable  {
  width: 60%;
  margin: 0 auto;
}

.arbeitszeiten th {
  border-width: 1px;
  border-style: solid;
}

.arbeitszeiten td {
  border-width: 1px;
  border-style: solid;
}

.grouptable td {
  height: 25px;
}

ul#menu {  padding: 0; margin: 0;}
.headerlink li { list-style-type: none;}