@charset "charset-name";

/* ###########################################################################################################################################
		Header und Section und Footer wurden immer davor geschrieben um mit der Suche schnell zu den einzelnen Teilen zu switchen
								Beschreibung liegt bei wichtigen Teilen vor
	
	##########################################################################################################################################
*/



body,html{ /* Hintergrund verlauf */
height: 100%;
background: rgb(209,209,209);
background: -moz-radial-gradient(center, ellipse cover,  rgba(209,209,209,1) 0%, rgba(242,249,254,1) 100%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(209,209,209,1)), color-stop(100%,rgba(242,249,254,1)));
background: -webkit-radial-gradient(center, ellipse cover,  rgba(209,209,209,1) 0%,rgba(242,249,254,1) 100%);
background: -o-radial-gradient(center, ellipse cover,  rgba(209,209,209,1) 0%,rgba(242,249,254,1) 100%);
background: -ms-radial-gradient(center, ellipse cover,  rgba(209,209,209,1) 0%,rgba(242,249,254,1) 100%);
background: radial-gradient(ellipse at center,  rgba(209,209,209,1) 0%,rgba(242,249,254,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d1d1d1', endColorstr='#f2f9fe',GradientType=1 );

}
.ma-wrapper {
    min-height: 100%;
}

header { /* Weißes border oben und schwarzer unten , verlauf im header */
   border-top: 1px solid #FFFFFF;
   border-bottom: 1px solid #111111;
   border-left: none;
   border-right: none;
   height: 50px;
   background: #D1D1D1;
   background-image: linear-gradient(#EFEFEF 0%, #D1D1D1 100%);*/
}
header nav {/*Zentriert die Bedienelemente in der Mitte des Bildschirms und legt die Größe der Navigation fest.*/
   width: 1170px;
   margin: 0 auto;
}
header ul#navigation {/*Zentriert die Liste der Navigationselemente vertikal.*/
        margin:0px auto;
        position:relative;
}

header .menuentry {/*Legt Schriftart und Schriftfarbe fest und blendet die Listenpunkte am Anfang eines Eintrags aus.*/
        font-family: 'Ubuntu', sans-serif;
        color:#333333;
        font-size:16px;
        text-decoration:none;
        padding: 20px 20px 20px 20px;
        display:inline-block;
}
header .menuentry_inner{/*Legt Schriftart und Schriftfarbe fest und blendet die Listenpunkte am Anfang eines Eintrags aus.*/
        font-family: 'Ubuntu', sans-serif;
        color:#333333;
        font-size:16px;
        text-decoration:none;
		padding: 0px 0px 0px 3px;
        display:inline-block;
}
header .menuentry_money {/*Legt Schriftart und Schriftfarbe fest und blendet die Listenpunkte am Anfang eines Eintrags aus.*/
        font-family: 'Ubuntu', sans-serif;
        color:#333333;
        font-size:14px;
        text-decoration:underline;
		font-weight:normal;
        padding: 20px 20px 20px 20px;
        display:inline-block;
}
header .menuentry_money_inner {/*Legt Schriftart und Schriftfarbe fest und blendet die Listenpunkte am Anfang eines Eintrags aus.*/
        font-family: 'Ubuntu', sans-serif;
        color:#333333;
        font-size:14px;
        text-decoration:underline;
		font-weight:normal;
		padding: 0px 0px 0px 3px;
        display:inline-block;
}
header ul#navigation li{/*Das Design der Navigationselemente*/
        display:inline-block;
        height:50px;
        position: relative;
		text-align:center;
        margin-right: -1px;
		padding-right:1px;
		
}
header ul#navigation > li:not(:first-child){/*Alle Navigationselemente außer das Logo am Anfang haben einen grauen Rand.*/
        border-right:1px;
        border-left:1px;
		border-style: solid;
		-webkit-border-image: -webkit-gradient(linear, 0 100%, 0 0, from(black), to(rgba(0, 0, 0, 0))) 1 100%;
		-webkit-border-image: -webkit-linear-gradient(bottom, black, rgba(0, 0, 0, 0)) 1 100%;
		-moz-border-image: -moz-linear-gradient(bottom, black, rgba(0, 0, 0, 0)) 1 100%;
		-o-border-image: -o-linear-gradient(bottom, black, rgba(0, 0, 0, 0)) 1 100%;
		border-image: linear-gradient(to top, black, rgba(0, 0, 0, 0)) 1 100%; 
		min-width:160px;
		max-width:400px;
		width:auto;
}
header ul#navigation > li#Geld{ /* Das Geld hat eine kleine größe */
        border-right:1px;
        border-left:1px;
		border-style: solid;
		-webkit-border-image: -webkit-gradient(linear, 0 100%, 0 0, from(black), to(rgba(0, 0, 0, 0))) 1 100%;
		-webkit-border-image: -webkit-linear-gradient(bottom, black, rgba(0, 0, 0, 0)) 1 100%;
		-moz-border-image: -moz-linear-gradient(bottom, black, rgba(0, 0, 0, 0)) 1 100%;
		-o-border-image: -o-linear-gradient(bottom, black, rgba(0, 0, 0, 0)) 1 100%;
		border-image: linear-gradient(to top, black, rgba(0, 0, 0, 0)) 1 100%; 
		min-width:120px;
		max-width:400px;
		width:auto;
}
header ul#navigation > li.lilogin{ 
        border-right:1px;
        border-left:1px;
		border-style: solid;
		-webkit-border-image: -webkit-gradient(linear, 0 100%, 0 0, from(black), to(rgba(0, 0, 0, 0))) 1 100%;
		-webkit-border-image: -webkit-linear-gradient(bottom, black, rgba(0, 0, 0, 0)) 1 100%;
		-moz-border-image: -moz-linear-gradient(bottom, black, rgba(0, 0, 0, 0)) 1 100%;
		-o-border-image: -o-linear-gradient(bottom, black, rgba(0, 0, 0, 0)) 1 100%;
		border-image: linear-gradient(to top, black, rgba(0, 0, 0, 0)) 1 100%; 
		width:300px;
}
header ul#navigation > li:hover{/*Hover-Effekt für die Listenelemente*/
		background-color: #eeeeee;
		cursor:pointer;
}
header ul#navigation > li:hover a i label{/*Hover-Effekt für die Listenelemente*/
		color:#C51919;
		-webkit-user-select: none; /* Chrome/Safari */        
		-moz-user-select: none; /* Firefox */
		-ms-user-select: none; /* IE10+ */
		cursor:pointer;
}
header ul#navigation > li:hover a > i{/*Hover-Effekt für die Listenelemente*/
		color:#C51919;
		-webkit-user-select: none; /* Chrome/Safari */        
		-moz-user-select: none; /* Firefox */
		-ms-user-select: none; /* IE10+ */
		cursor:pointer;
}
header ul#navigation > li:hover label{/*Hover-Effekt für die Listenelemente*/
		color:#C51919;
		-webkit-user-select: none; /* Chrome/Safari */        
		-moz-user-select: none; /* Firefox */
		-ms-user-select: none; /* IE10+ */
		cursor:pointer;
}		
header ul#navigation > li span a label{/*Design des Textes im Untermenu ohne auswahl*/
        font-family: 'Ubuntu', sans-serif;
        font-size: 16px;
        font-weight: 500;
        color: #333333;
        margin-top: 0px;
}
header ul#navigation > li > a{/*Design des Textes im Untermenu ohne auswahl*/
        color: #333333;
}

header .lileft{/*Ordnet links an.*/
        float:left;
}
header .liright{/*Ordnet rechts an.*/
        float:right;
}
header ul#navigation li.lilogin{
		padding:10px;
		float: right;
}
header span {/*Design des Popup-spanulars welches beim Hovern über die Navigationselemente erscheint. Standardmäßig sind diese ausgeblendet.*/
         background: #FCFCFC;
         border: 1px solid #111111;
         border-top-color: #C51919;
         border-bottom-left-radius: 5px;
         border-bottom-right-radius: 5px;
         box-sizing: border-box;
		 
       /*  padding: 30px 30px 15px 30px;*/
         position: absolute; top: 50px; left: -1px;
         width: 163px;
         z-index: 9;
         display: none;
}
header ul#navigation > li:hover span {/*Blendet die Popup-spanulare beim Hovern über ein Navigationselement ein.*/
         display: block;
		 
		 
}
header span label {/*Design der Beschriftungen der einzelnen Input-Komponenten in den Popup-spanularen.*/
         font-family: 'Ubuntu', sans-serif;
         color: #333333;
         font-size: 16px;
         font-weight: bold;
}

header ul#navigation > li span > ul#navi_menu { /*Höhe der Unterelemente */
		height:50px;	
		
}
header ul#navigation > li span > ul#navi_menu:last-child  > li.span_open > #navi_button{ /* Runde untere ecken */
         border-bottom-left-radius: 5px;
         border-bottom-right-radius: 5px;
}

header ul#navigation > li span > ul#navi_menu > li.span_open > #navi_button{ /* Fingersymbol beim hovern und design des nicht ausgewählten unterpunktes */
	padding-top:20px;
	text-align:center;
	width:160px;
	height:29px;
    background: #EFEFEF;
	border-top: 1px solid;
    border-top-color:#CFCFCF;
	cursor:pointer;
}

header ul#navigation > li span > ul#navi_menu > li.span_open > #navi_button > label{ /* Schrift des geöffnenten nicht ausgewählten unterpunktes */
		color:#333333;
		cursor:pointer;
}

header ul#navigation > li:first-child label { /* schrift von 'MACH DEIN GLÜCK' */
         font-family: 'Ubuntu', sans-serif;
         color: #333333;
         font-size: 20px;
		 margin-top:-3px;
         font-weight: normal;
		 cursor:pointer;
}



header ul#navigation > li span > ul#navi_menu > li.span_open > #navi_button:hover{ /* design für angewähltes objekt des untermenus der navileiste */ 

	padding-top:20px;
	padding-left:0px;
	width:157px;
	height:30px;
    background: #CCCCCC;
	margin-left:-2px;
	border-left:4px solid;
	border-top:0px;
	border-color:#C51919;
	cursor:pointer;
}
header ul#navigation > li span > ul#navi_menu > li.span_open > #navi_button > a label{ /* design der schrift für angewählte objekte der untermenus der navileiste */
	color:#111111;
}
header ul#navigation > li span > ul#navi_menu > li.span_open > #navi_button:hover > a label{ /* design der schrift für angewählte objekte der untermenus der navileiste */
	color:#111111;
}

div.fill-div {
	height: 49px;
	margin-top:-20px;
}

label.l_fill-div{
	position:relative;
	top:16px;
}


header a{ /* links haben keine unterstrich */
	text-decoration:none;
}

header .loginInput {
	    border: 1px solid #C51919;
		width: 140px;
		margin: 0px auto;
		height: 30px;
		border-radius:3px;
		float:left;		
}
header .loginButton {
         font-family: 'Ubuntu', sans-serif;
         height: 34px;
         width: 70px;
         border: 1px solid #C51919;
         border-radius: 3px;
         background-color: #fafafa;
         margin: 0px 0px 10px 0px;
         padding: 0px 0px 0px 0px;
         box-sizing: border-box;
		 vertical-align:center;
}

section {
/* jo */
		box-shadow: 5px 5px 5px 3px #888;
		width:1070px;
		margin: 0 auto;
		padding-left:50px;
		padding-right:50px;
		text-align:left;
		border-width: 1px;
		border-style: solid;
		border-image: -webkit-linear-gradient(top, rgba(0,0,0,1), rgba(197,25,25,0.75), rgba(0,0,0,1)) 1 100%;
		border-image: -moz-linear-gradient(top, rgba(0,0,0,1), rgba(197,25,25,0.75), rgba(0,0,0,1)) 1 100%; 
		border-image: -ms-linear-gradient(top, rgba(0,0,0,1), rgba(197,25,25,0.75), rgba(0,0,0,1)) 1 100%; 
		border-image: -o-linear-gradient(top, rgba(0,0,0,1), rgba(197,25,25,0.75), rgba(0,0,0,1)) 1 100%;
		border-top:0px;
		border-bottom:0px;
		height:auto;
		min-height:600px;
		background-image: -moz-linear-gradient(#C51919 0%,#C51919 0.2%, #FFFEEE 0.24%);
		background-image: -webkit-linear-gradient(#C51919 0%,#FFFFFF 0.4%)
}

section div#divListMessages > div#listMessages > div#ListItem > label#Geldbetrag{
		font-size:28pt;
}



footer {
box-shadow: 5px 5px 5px 3px #888;
		width:1170px;
		margin: 0 auto;
		text-align:left;
		border-top:2px solid #C51919;
		border-left:1px solid #111111;
		border-right:1px solid #111111;
		border-bottom:1px solid #111111;
		height:30px;
		background:#cccccc;
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
}
footer .footer_left{
		padding-top:5px;
		padding-left: 10px;
		text-align:left;
		float:left;
}

footer .footer_right{
		padding-top:5px;
		padding-right: 10px;
		text-align:right;
		float:right;
}
footer label {
		font-family: 'Ubuntu',sans-serif;
		color:#111111;
		font-weight:regular;
		line-height:145%;
		font-size:12px;
}		
section h1 {
	font-family: 'Ubuntu Condensed',sans-serif;
	font-size:3em;
	font-style:400;
	text-align:center;
	color: #000;
	line-height:140%;
	padding: 50px 0 30px 0;

}
section h2 {
	font-family: 'Ubuntu Condensed',sans-serif;
	font-size:2em;
	font-style:400;
	text-align:center;
	color: #000;
	line-height:100%;
	padding: 0px 0 0px 0;

}

section hr {
		border: 0;
		height: 1px;
		background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(197,25,25,0.75), rgba(0,0,0,0));
		background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(197,25,25,0.75), rgba(0,0,0,0)); 
		background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(197,25,25,0.75), rgba(0,0,0,0)); 
		background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(197,25,25,0.75), rgba(0,0,0,0));
		width:400px;
		margin: 10px auto; /*zum zentrieren*/
}
section p {
	font-family: 'Ubuntu',sans-serif;
     font-size: 17px;
        font-weight: 500;
        color: #222222;
        margin-top: 2px;
		text-align:center;
}

section input {/*Design der Textboxen in den Popup-spanularen*/
         height: 35px;
         width: 235px;
         border: 1px solid #F5B3B3;
         border-radius: 3px;
         background-color: #fafafa;
         margin: 3px 0px 10px 0px;
         padding: 0px 11px 0px 11px;
         box-sizing: border-box;
}
section label {
	font-family: 'Ubuntu',sans-serif;
        font-size: 15px;
        font-weight: 500;
        color: #222222;
        margin-top: 2px;
		text-align:center;
		
}

section label.hidden{
	display: none;
}

section ul{
	font-family: 'Ubuntu Condensed',sans-serif;
	font-size: 15px;
	list-style-type: none
	padding-left: 2em;
}

section li{
	padding: 30px 0 30px 0;
}

section #listMessages div{
		background-color: #fafafa;
		border-bottom: 1px dotted #C51919;
}
section #listMessages div label {
		padding:5px;
		margin-top:5px;
}


section #divListMessages {
	width: 640px;
    height: 400px;
    overflow: auto;
	box-sizing: border-box;
	border-radius: 10px;
	border: 1px solid #F5B3B3;
}

section #divListMessages small{
		font-family: 'Ubuntu',sans-serif;
	font-size: 12px;
	list-style-type: none
	padding-left: 2em;
}

section #divListMessages div:hover{
		background-color: #F0D8D8;
}

section #divListMessages input{
         height: 30px;
         width: 100px;
         border: 1px solid #F5B3B3;
         border-radius: 3px;
         background-color: #fafafa;
         margin: 3px 0px 10px 0px;
         padding: 0px 0px 0px 0px;
         box-sizing: border-box;
}


section #divListMessages .lottoButton {
		 height: 30px;
         width: 40px;
         border: 1px solid #F5B3B3;
         border-radius: 3px;
         background-color: #fafafa;
         margin: 3px 0px 10px 0px;
         padding: 0px 5px 0px 0px;
         box-sizing: border-box;
}

section #ListMessages fieldset {
		background-color: #fafafa;
		border-bottom: 1px dotted #C51919;
}
section #divListMessages fieldset:hover{
		background-color: #F0D8D8;
}

section #easyList {
	width: 640px;
    height: 400px;
    overflow: auto;
}

section #easyList li {
	font-family: 'Ubuntu',sans-serif;
    font-size: 17px;
	font-weight: 500;
    color: #222222;
	margin-top: 2px;
	text-align:left;
	padding:5px;
	margin-left:20px;
}

div.Fehler{
	width:26%;
	height:auto;
	min-height:20%;
	top: 200px;
	position:absolute;
	color: #D8000C;
	background: #eeeeee;
	left:37%;
	text-align:center;
	border:2px solid red;
	font-size:17px;
	box-shadow: 5px 5px 5px 3px #888;
	border-radius: 5px;
	z-index:1;
}

div.Fehler p {
		line-height:125%;
		font-family: 'Ubuntu',sans-serif;
        font-weight: 500;
		font-size:15px;
		color:#760107;
		
}
div.Fehler p.h{
		padding-left:0px;
		padding-right:0px;
		line-height:150%;
		font-family: 'Ubuntu condensed',sans-serif;
        font-size:30px;
        font-weight: 600;
        color: #D8000C;
}

#ZeitBox01 {
position: relative;
top: 0px;
left: 385px;
width: 400px;
height: 26px;
margin: 0px;
padding: 0px;
border: none;
background-color: #cccccc;
}

#ZeitAnzeige {
position: absolute;
top: 0px;
left: 0px;
background: transparent;
width: 400px;
line-height: 26px;
text-align: center;
color: #111111;
font-family: 'ubuntu',sans-serif;
font-size: 16px;
font-weight: normal;
}


input[type="checkbox"]{
	padding-top:0px;
	margin: 2px;
	width: 20px;
	height: 20px;
}

section.button{
		 height: 30px;
         width: 40px;
         border: 1px solid #F5B3B3;
         border-radius: 3px;
         background-color: #fafafa;
         margin: 3px 0px 10px 0px;
         padding: 0px 5px 0px 0px;
         box-sizing: border-box;
}

.positive{
color: #58FA58;
}

.negative{
background-color: #FE2E2E;
}

.angeklickt{
	background-color: red;
}
.auswahlbutton{
	width: 30px;
	height: 21px;
	border:1px solid #fcfcfc;
	cursor: pointer;
	
}
