<!DOCTYPE html>
<html>
<head th:replace="fragments/head :: head"></head>
<body>
	<!-- Header include -->
	<div th:replace="fragments/header :: header"></div>
	<section>
		<h1> Spielinformationen</h1>
		<hr/>	
		<br/>
		<div align="center">
		<table>
			<tr>
				<td><p>Lotto 6aus49</p>
					<br/>
					<br/>
					<p>Beim Spiel <strong>6 aus 49</strong> werden 6 Zahlen zwischen 1 und 49 und eine Superzahl getippt.</p>
					<br/>
					<p>Jeder Tipp gilt für die nächste <strong>Ziehung, die jeden Sonntag 12 Uhr</strong> stattfindet.</p>
					<br/>
					<p>Bei Dauertippscheinen werden die getippten Zahlen für alle Ziehungen im gewählten Zeitraum aufgestellt.</p>
					<br/>
					<p>Bei Gruppentipps kann die prozentuale Beteiligung am Kaufpreis gewählt werden. Diese entpricht ebenfalls der prozentualen Gewinnbeteiligung.</p>
					<br/>
					<br/>
					<br/>
				</td>
				<td><p>Fußballtoto</p>
					<br/>
					<p>Beim Fußballtoto kann für jedes kommende Spiel der 1. und 2. Bundeslige sowie aller Pokalspiele pro Spiel auf Unentschieden bzw. Heim- oder Auswärtssieg getippt werden.</p>
					<br/>
					<p>Für jedes Spiel kann ein unterschiedlicher Einsatz getätigt werden.</p>
					<br/>
					<p>Änderungen an den Einsätzen können bis 5 Minuten vor Spielbeginn erfolgen.</p>
					<br/>
				</td>
			</tr>
		</table>
		</div>
		
		<br/>
		<br/>
	</section>
	<!-- Footer include -->
	<div th:replace="fragments/footer :: footer"></div>
</body>	
</html>