<!Doctype html>
<html lang="de">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Prototyp Joe</title>
		<link rel="stylesheet" type="text/css" href="style.css" media="screen" />
	</head>
<body>
	<div id="header">
	<h1>Prototyp</h1>
	</div>
	
	<div id="content">
		<div id="right">
			<div class="left">
			<h1>Summe dazu addieren:</h1>
			
			<p>Summe dazu addieren:</p>
			<form th:action="@{/addieren}">
		
			<input type="number" name="newValue" /><br/>
			<input type="submit" value="Dazu addieren."/><br/>
			
			<div class="box" th:text="${value}"></div>

			</div>
		</div>
	</div>
</body>	
</html>