<!DOCTYPE html>
<html>
<head th:replace="fragments/head :: head"></head>
<body>
	<!-- Header include -->
	<div th:replace="fragments/header :: header"></div>
	<section>
		<h1> Willkommen bei <i>Mach Dein Glück!!!</i></h1>
		<hr/>	
		<br/>
		<h2>Das Glücksspiel auf hohem Niveau!</h2><br/>
		<br/>
		<p>Ob Lotto <strong>6aus49</strong> oder <strong>FußballTOTO für die 1. und 2. Bundesliga sowie für alle Pokalspiele</strong>, ihre Lotterie "Mach Dein Glück!!" hält täglich den größten Jackpot für Sie bereit! </p>
		<br/>
		<p>
		<h2>Unser Angebot für Sie umfasst außerdem:	</h2>
		<br/>
		</p>
		<div align="center">
		<div align="center" id="easyList">
		<ol start="1">
			<li>Eine edle und intuitive Bedienoberfläche</li>	
			<li>Einzel- und Dauertippscheine</li>
			<li>Bildung von Gewinngemeinschaften, um ihre Gewinnchance zu erhöhen</li>
			<li>Sicheres Ein- und Auszahlen ihres Geldes bequem per Kreditkarte</li>
			<li>Erhöhte Chance auf den Jackpot!</li>	
		</ol>
		<br/>
		</div>
		</div>
		<p>Per Mausklick auf den "Registrieren"-Button, legen sie Ihr persönliches Konto an, um direkt spielen zu können!</p>
		<br/>
		<br/>
		<br/>
	</section>
	<!-- Footer include -->
	<div th:replace="fragments/footer :: footer"></div>
</body>	
</html>