<!DOCTYPE html>
<html>
<head th:replace="fragments/head :: head"></head>
<body>
	<!-- Header include -->
	<div th:replace="fragments/header :: header"></div>
	<section>
		<h1> Willkommen</h1>
		<hr/>	
		<br/>
		<h2>Wir sind die Lotterie: Mach dein Glück!!!</h2><br/>
		<p>Bei uns kannst du den größten Jackpot bekommen und den meisten Gewinn erzielen. </p>
		<p>Entweder als Einzelteilnehmer oder in der Gruppe, hier ist für jeden die richtige Anlaufstelle.</p>
		<p>
		Zusätzlich zu allen Lotterie Features bieten wir eine übersichtliche und strukturierte Weboberfläche die allen Anforderungen gewachsen ist.	
		</p>
		<div align="center">
		<div align="center" id="easyList">
		<ol start="1">
			<li>Übersichtliche Weboberfläche</li>
			<li>Gruppentippen und Gruppenverwaltung</li>
			<li>Einzel-/Dauertippscheine</li>
			<li>Bankübersicht mit Transaktionen</li>
			<li>Profilverwaltung</li>
			<li>Erhöhte Chance auf den Jackpot</li>	
		</ol>
		</div>
		</div>
		<br/>
		<br/>
		<br/>
	</section>
	<!-- Footer include -->
	<div th:replace="fragments/footer :: footer"></div>
</body>	
</html>