<!DOCTYPE html>
<html lang="de">
  <head>
    <title>Login</title>
    
    <meta name="description" content="Die Lotterie Mach dein Glulck!!"/>
    <meta name="author" content="RB"/>
    <meta name="keywords" content="Lotterie"/>
    
    <link href="../resources/css/style.css" type="text/css" rel="stylesheet"/>
  </head>
  
  <body>
  <header>
    <p id="logotext">
      <strong>Mach Dein Gluck!</strong>
    </p>
  </header>
  <div id="wrapper">  
  
  <nav id="steuerungoben">
    <ul>
      <li><a href="/Index">Startseite</a></li>
      <li><a href="/Index">Spielen</a></li>
      <li><a href="/Index">Gruppen</a></li>
    </ul>
  </nav>
  
  <nav id="steuerunglinks">  
    <ul>
      <li><a href="/logout">Logut</a></li>
      <li><a href="/Index">Spielen</a></li>
      <li><a href="/Index">Gruppen</a></li>
    </ul>
  </nav>  
  
  <aside>  
      <img src="../resources/img/Fussballtoto.png" width="200" height="200" alt="Fussballtoto"/>
      <img src="../resources/img/Lottologo.jpeg" width="340" height="210" alt="6aus49 Zahlenlotto"/>     
  </aside>
  <section>
    <h1>Du bist eingeloggt!!!</h1> 
  </section>  
    
  <footer>    
    <p>Copyright: SWT-Gruppe 18  <a href="Kontakt.htm">Kontakt</a> <a href="Impressum.htm">Impressum</a></p>
  </footer>

</div>    
  </body>
</html>