

<!DOCTYPE html>
<html>
<head>
<title>Lotterie Mach dein Gl&uuml;ck!!!</title>
<meta name="description" content="Swt Team 18 Lotterie" />
<meta name="author" content=".Lars Beck, Reinhard *,Felix *, Joe *, Johannes *" />
<meta name="keywords" content="." />

<link href='css/html5reset-1.6.1.css' rel='stylesheet' type='text/css'/>
<link href="css/header_dark_red.css" rel="stylesheet"/>
<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"/>
<link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'/>
<link href='http://fonts.googleapis.com/css?family=Ubuntu+Condensed' rel='stylesheet' type='text/css'/>

<style type="text/css">
body {
   margin: 0 auto;
}
</style>
</head>
<body>
	<!-- Header include -->
	<div th:replace="fragments/header :: header"></div>
	<section>
		<h1> Profil</h1>
		<hr/>
		<h2 th:text="@{'Hallo, '+${name}}">NAME</h2>
		<br/>
		<p th:text="@{'Du hast '+${messages}+' Mitteilungen:'}">Anzahl Messages</p>
		<br/>
		<div align="center">
		<div align="center"  id="divListMessages">
		<ol start="1" id="listMessages">
			<div><br/><label>Am 2.10.2014 hast du deine Rechnung nicht bezahlt.</label><br/><label>Du hast damals Lotto gespielt.</label><br/><br/><input class="messagesButton" type="submit" value="Bezahlen" tabindex="5" /></div>
			<div><li>Am 2.10.2014 hast du deine Rechnung nicht bezahlt.</li><input class="messagesButton" type="submit" value="Bezahlen" tabindex="5" /></div>
		</ol>
		</div>
		</div>
		<br/>
		<p th:text="@{'Dein Benuteraccount ist: '+${state}}">Status</p>
		<br/>
		<br/>
	</section>
	<!-- Footer include -->
	<div th:replace="fragments/footer :: footer"></div>
</body>	
</html>