<!DOCTYPE html>
<html>
<head th:replace="fragments/head :: head"></head>
<body>
	<!-- Header include -->
	<div th:replace="fragments/header :: header"></div>
	<section>
		<h1> Tippscheinübersicht</h1>
		<hr/>
		<br/>
		<br/>
		<ol start="1" id="listMessages">
			<div th:each="item : ${tips}">
			<br/>
			<br/>
			<label th:text="${item.getLottoGameTitleAsString()}+' Uhr'">Datum</label>
		    	<br/>
		    	<br/>
			<label th:text="${item.getNumbersAsString()}">Zahlen</label>
			<br/>
		    	<label th:text="${item.getSuperNumberAsString()}">Superzahl</label>
		    	<br/>
		    	<form action="/deleteLottoTip">
 				<input type="hidden" name="id" th:value="${item.getId()}"/>
 				<input type="submit" value="Löschen"/>
 				</form>
            <form action="/lottoTipChange">
				<input type="hidden" name="id" th:value="${item.getId()}"/>
				<input type="submit" value="Ändern"/>
			</form>
			</div>
		</ol>
		
		<br/>
		<br/>
		<br/>
	</section>
	<!-- Footer include -->
	<div th:replace="fragments/footer :: footer"></div>
</body>	
</html>
