<!DOCTYPE html>
<html>
<head th:replace="fragments/head :: head"></head>
<body>
	<!-- Header include -->
	<div th:replace="fragments/header :: header"></div>
	<section>
		<h1>Tippscheinübersicht</h1>
		<hr/>
		<br/>
		<br/>
		<div align="center">
		<div align="center"  id="divListMessages">
		<ol start="1" id="listMessages">
			<div th:each="item : ${tips}">
			<a th:href="@{/tipCollectionView(id=${item.getId()}, game=${item.getGameType().name()})}" >
			<br/>
		    <br/>
			<label th:text="@{${item.getGameType()} + ' Tippschein ('+${item.getTips().size()}+' Tipp(s) )'}" style="font-size:16px;">Test</label>
		    <label th:if="${item.hasCommunity()}" th:text="@{'Gruppe: ' + ${item.getCommunity().getCommunityName()}}" style="font-size:16px;">Gruppentippschein</label>
		    <br/>
		    <br/>
		    </a>
			</div>
		</ol>
		</div>
		</div>
		
		<br/>
		<br/>
		<br/>
	</section>
	<!-- Footer include -->
	<div th:replace="fragments/footer :: footer"></div>
</body>	
</html>