<!DOCTYPE html>
<html>
<head th:replace="fragments/head :: head"></head>
<body>
	<!-- Header include -->
	<div th:replace="fragments/header :: header"></div>
	<section>
		<h1> Tippscheinuuml;bersicht</h1>
		<hr/>
		<br/>
		<br/>
		<ol start="1" id="listMessages">
			<div th:each="item : ${tips}">
			<br/>
		    <br/>
			<label th:text="@{'Tipp: '+${item.toCustomString()}}">Test</label>
		    <br/>
		    <br/>
			</div>
		</ol>
	</section>
	<!-- Footer include -->
	<div th:replace="fragments/footer :: footer"></div>
</body>	
</html>