<!DOCTYPE html>
<html>
<head th:replace="fragments/head :: head"></head>
<body>
	<!-- Header include
	<div th:replace="fragments/header :: header"></div>
	<section>
		<h1>Toto Ligen</h1>
		<hr/>		
		<ul th:each="item : ${games}">
			<li th:each="match : ${item.getValue()}"><a href="#" th:href="@{'/totoTipp?id='+${match}}" th:text="@{${item.getKey().toString()}+' '+${match}+'.Spieltag'}">Game Name</a></li>
		</ul>
		
	</section>-->
	
		<div th:replace="fragments/header :: header"></div>
	<section>
		<h1> Toto Partien</h1>
		<hr/>
		<br/>
		<br/>
		<div align="center">
		<div align="center"  id="divListMessages">
		<ol start="1" id="listMessages">
		
			<div th:each="item : ${totoGameTypes}">
			<a th:href="@{'/totoMatchDays?id='+${item.name()}}" >
			<br/>
			<br/>
			<br/>
			<label  th:text="@{${item.toString()}}">TotoGameType</label>
			<br/>
			<br/>
			<br/>
			</a>				
			</div>
		</ol>
		</div>
		</div>
		
		<br/>
		<br/>
		<br/>
	</section>
	<!-- Footer include -->
	<div th:replace="fragments/footer :: footer"></div>
</body>	
</html>