<!DOCTYPE html>
<html>
<head th:replace="fragments/head :: head"></head>
<body>
	<!-- Header include -->
	<div th:replace="fragments/header :: header"></div>
	<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 15px;
}
</style>
	<section>
		<h1> Toto Tipperstellung</h1>
		<hr/>		
			<form action="/createTotoTip" method="post">
				<div class="tipp">
				<div align="center">
				<a href="javascript:void();" onClick="resetTotoSelection()"><div style="width:300px; height:50px; vertical-align:middle;" >Alle Felder zurücksetzen!</div></a>
				<table style="width:100%; border:1px solid red; border-collapse: collapse;">
				  <tr th:each="match : ${matches}">
				    <td th:text="@{${match.getTeamHome()}}">Team A</td>
				    <td><input style="width: auto" type="radio" th:name="${match.getId()}" value="0">Sieg Heim</input></td>
				    <td><input style="width: auto" type="radio" th:name="${match.getId()}" value="1">Unendschieden</input></td>
				    <td>Sieg Auswärts<input style="width: auto" type="radio" th:name="${match.getId()}" value="2"></input></td>
				    <td th:text="@{${match.getTeamGuest()}}">Team B</td>	
				    <td th:text="@{${match.getQuote()}}">Quote</td>	
				    <td th:text="@{$'Spiel vom:'+{match.getDateString()}}">Quote</td>	
				    <td th:text="@{${match.getTeamGuest()}}">Team B</td>	
				    <td style="display:none; float:right;" ><input style="display:none;" class="Radio" type="radio" th:name="${match.getId()}" value="3" checked="checked"></input></td>
				    <td >&euro;<input class="input" style="width:100px;" type="input" th:name="${'input'+match.getId()}" ></input></td>
				  </tr>
				</table>
				<script type="text/javascript">
					function resetTotoSelection(){
						var list= document.getElementsByClassName('Radio');
						for (key in list){
						    list[key].checked = 'checked';
						}
					}
				</script>
				</div>
				</div>
				<input type="hidden" name="gameType" value="toto" />
				<input type="submit" />
			</form>
			
			<br/>
			<br/>
			<br/>
	</section>
	<!-- Footer include -->
	<div th:replace="fragments/footer :: footer"></div>
</body>
</html>