<!DOCTYPE html>
<html>
<head>
<title>Lotterie Mach dein Gl&uuml;ck!!!</title>
<meta name="description" content="Swt Team 18 Lotterie" />
<meta name="author" content=".Lars Beck, Reinhard *,Felix *, Joe *, Johannes *" />
<meta name="keywords" content="." />

<link href='css/html5reset-1.6.1.css' rel='stylesheet' type='text/css'/>
<link href="css/header_dark_red.css" rel="stylesheet"/>
<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"/>
<link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'/>
<link href='http://fonts.googleapis.com/css?family=Ubuntu+Condensed' rel='stylesheet' type='text/css'/>

<style type="text/css">
body {
   margin: 0 auto;
}
</style>
</head>
<body>
	<!-- Header include -->
	<div th:replace="fragments/header :: header"></div>
	<section>
		<h1>Toto Test</h1>
		
		<ul th:each="item : ${games}">
			<li><a href="#" th:href="@{/totoTipp(id=${item})}" th:text="@{${item.getKey().toString()}+' '+${item.getValue()}+'.Spieltag'}">Game Name</a></li>
		</ul>
		
	</section>
	<!-- Footer include -->
	<div th:replace="fragments/footer :: footer"></div>
</body>	
</html>