<!DOCTYPE html>
<html>
<head th:replace="fragments/head :: head"></head>
<body>
	<!-- Header include -->
	<div th:replace="fragments/header :: header"></div>
	<section>
		<h1> Tippscheinuuml;bersicht</h1>
		<hr/>
		<br/>
		<br/>
		<ol start="1" id="listMessages">
			<div th:each="item : ${tips}">
			<br/>
			<br/>
			<label th:text="${item.getMatchDateAsString()}+'Uhr'">Datum</label>
			<br/>
			<label th:text="${item.getMatchTitleAsString()}">Titel</label>
			<br/>
			<br/>
			<label th:text="@{'Getippt auf: '+${item.getResultAsString()}}">Tipp</label>
		    	<br/>
			<label th:text="@{'Einsatz: '+${item.getInputAsString()}+'€'}">Einsatz</label>
		    	<br/>
		    	<label th:text="@{'Quote: '+${item.getQuoteAsString()}}">Quote</label>
		    	<br/>
		    	
		    	
			<form action="/deleteTotoTip">
				<input type="submit" value="Löschen"/>
				<input type="hidden" name="id" th:value="${item.getId()}"/>
			</form>
			<form action="/totoTipChange">
				<input type="submit" value="Ändern"/>
				<input type="hidden" name="id" th:value="${item.getId()}"/>
			</form>
			</div>
		</ol>
		
		<br/>
		<br/>
		<br/>
	</section>
	<!-- Footer include -->
	<div th:replace="fragments/footer :: footer"></div>
</body>	
</html>
